<nav class="admin-sidebar">
    <div *ngFor="let item of menuItems" 
         class="menu-item"
         [routerLink]="item.link" 
         routerLinkActive="active-link"
         tabindex="0"
    >
        <span class="item-icon">
             <svg *ngIf="item.icon === 'home'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
            <svg *ngIf="item.icon === 'users'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="8.5" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
            <svg *ngIf="item.icon === 'school'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 9v6"/><path d="M19 19H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h4l2 3h4l2-3h4a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2z"/></svg>
            <svg *ngIf="item.icon === 'file-text'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z"/><polyline points="14 2 14 8 20 8"/><line x1="16" y1="13" x2="8" y2="13"/><line x1="16" y1="17" x2="8" y2="17"/><line x1="10" y1="9" x2="8" y2="9"/></svg>
            <svg *ngIf="item.icon === 'dollar-sign'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"/><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"/></svg>
            <svg *ngIf="item.icon === 'upload-cloud'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 14.899V14a5 5 0 0 1 10-1c.07-.46.12-.92.12-1.39 0-2.61-1.8-4.85-4.2-5.4A7 7 0 0 0 6 8a6 6 0 0 0-.2 1.3c-.6 0-1.2.1-1.7.3"/><path d="M12 12v9"/><path d="M16 16l-4 4-4-4"/></svg>
        </span>
        <span class="item-label">{{ item.label }}</span>
    </div>
</nav>