# תיקיות ואובייקטים של .NET / C#
[Bb]in/
[Oo]bj/
.vs/

# קבצי פלט בינאריים
*.dll
*.pdb
*.exe

# קבצי מטמון והגדרות אוטומטיות של VS
*.cache
*.suo
*.user
*.csproj.user
*.sourcelink.json
*AssemblyInfo.cs
appsettings.Development.json  
*.dswa.cache.json             